html {
  background-image: url('https://s2.glbimg.com/8pqkmpEXvwida1h2SZ40gCB7I2A=/0x0:1024x576/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2020/4/n/wxo5ZsTL6lA0qTcb9Mwg/spotify-premium-akcio-001-1024x576.jpg');
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
  padding: 16px;
  align-items: center;
  box-shadow: none;
  background-color: transparent;
  max-width: 1200px;
  margin: 40px auto;
  padding: 32px
}

.App-link {
  color: #61dafb;
}